body{
    background-color: #555555;/*Sets the background to a grey color*/
    font-family: Arial, Helvetica, sans-serif; /*Sets the font for everything within the body*/
    min-width: 90em; /*Sets the minimum width*/
}
.outside {
    display: flex; /*Set all divs with the class outside as a flex box.*/
    justify-content: center; /*Aligns objects within the box in the center horizontally*/
}
.container {
    display: grid; /*Set all divs with the class container as a grid*/
    width: 120em; /*Defines the width of the box*/
    grid-template-columns: 1fr 1fr 1fr; /*The grid is set up to 3 columns of equal size in each row*/
    text-align: center; /*Everything within the container is aligned to the center.*/
}

.block {
    display: inline-block; /*Sets the divs with the class block as an inline-block*/
    background-color: #b8b8b8; /*Sets the background color of the boxes to a light grey*/
    border-style: solid; /*Sets the border of the box as a solid line*/
    border-radius: 0.5em; /*That is curved 0.5em in the corners.
    No changes are made to font size so 1 em should be 16px*/
    border-color: #373636; /*Sets the border color to a dark grey*/
    border-width: 0.3em; /*The width of the border*/
    height: 30em; /*The height of the box*/
    text-align: center; /*Align items in center horizontally*/
    margin: 1em;/*"Empty space" around the object.*/
    clear: both;/*Declares which side a float is not allowed to float*/
}

.text-container {
    display: inline-block;
    margin: auto; /*Auto-margin for aligning in the center vertically*/
    width: 70%; /*Makes the width of the box 50% of it's parent container*/
    text-align: left; /*Objects starts from the left*/
}

.right-side-span {
    float: right; /*Floats the span on the right side*/
}

.text-container-features{
    margin: auto; /*Align vertically*/
    width: 80%; /*Width is set to 80% of parent component's*/
    text-align: left; /*Objects starts from the left*/
}

#get-loan-button, #pay-back-loan-button{
    width: 50%; /*Width is set to 50% of parent component's*/
    background-color: white; /*Background color of the button*/
    color: black; /*Text color of the button*/
    border-radius: 0.5em; /*Button edge curvature*/
    height: 5em; /*Height of the button*/
}

#get-loan-button{
    border: 0.3em solid #555555; /*Sets border width, border style and border color*/
}

#pay-back-loan-button, #move-to-bank-button{
    margin-top: 5px; /*Margin on top of the button till next object begins it's margin*/
    border: 0.3em solid #366bff; /*Sets border width, border style and border color*/
}

#move-to-bank-button, #earn-money-button {
    width: 25%; /*Width of the buttons are set to 25% of the parent's*/
    background-color: white; /*Background color of the button*/
    color: black; /*Text color of the button*/
    border: 0.3em solid #366bff; /*Sets border width, border style and border color*/
    border-radius: 0.5em; /*Button edge curvature*/
    text-align: center; /*Horizontal alignment*/
    height: 5em; /*Height of the button*/
}

#earn-money-button{
    border: 0.3em solid #39ca0c; /*Sets the border-width, border-style and border-color*/
}

#buy-laptop-button{
    width: 50%; /*Sets the width of the button to 50% of it's parent's*/
    height: 5em; /*Sets the height of the button*/
    border-radius: 0.5em; /*Button edge curvature*/
    border: 0.3em solid black; /*Sets the border width, style and color*/
}

#earn-money-button:hover{
    color: white; /*Sets the text color to white on hover*/
    background-color: #39ca0c; /*Sets the button's background color to green when hovered over*/
}

#get-loan-button:hover {
    background-color: #555555; /*Sets background color of the button to grey when hovered over*/
    color: white; /*Sets the text color to white when hovered over*/
}

#move-to-bank-button:hover, #pay-back-loan-button:hover {
    color: white; /*Sets the text color to white when hovered over*/
    background-color: #366bff; /*Sets the background color to blue when hovered over*/
}

#buy-laptop-button:hover{
    box-shadow: 0 1em 1em 0 rgba(0,0,0,0.24), 0 1.5em 2.5em 0 rgba(0,0,0,0.19);
    /*Adds a shadow effect on the button when hovered over*/
}

#laptop-image{
    width: 15em; /*Sets the height of the picture*/
    height: 15em; /*Sets the width of the picture*/
}

#laptop-image-box{
    display: flex; /*Makes the box into a flex box*/
    justify-content: center; /*Centers horizontally*/
    align-items: center; /*Centers vertically*/
}

#laptop-name{
    text-align:left; /*Makes the laptop name append to the left*/
}

#laptop-price-box{
    display: flex; /*Flex box*/
    align-items: center; /*Align vertically center*/
    justify-content: center; /*Align horizontally center*/
    flex-direction: column; /*Objects are stacked on each other like a column*/
}

#laptop-information-box{
    display: grid; /*Sets the box up as a grid*/
    width: 117em; /*Sets the width of the box*/
    height: 30em; /*Sets the height of the box*/
    background-color: #b8b8b8; /*Background color of the box*/
    grid-template-columns: 1fr 2fr 1fr; /*Grid layout, 3 columns where the center column is twice as big as the others*/
    border: 0.3em solid #373636; /*Sets border width, style and color*/
    border-radius: 0.5em; /*Button edge curvature*/

}
#laptop-price{
    font-size: 4em; /*Font size*/
}

#laptop-selector{
    width: 50%; /*Width of the selector*/
    height: 3em; /*Height of the selector*/
    border: 0.3em solid black; /*Border width, style and color*/
    border-radius: 0.5em; /*Button edge curvature*/
    font-size: 1em; /*Font size*/
}

h1 {
    text-align: center; /*Text centers*/
    font-size: 6em; /*Font size*/
}

h2 {
    text-align: center; /*Text centers*/
    font-size: 4em; /*Font size*/
}

h3 {
    font-size: 2em; /*Font size*/
}

span {
    font-size: 1.5em; /*Font size*/
}

p {
    font-size: 1.4em; /*Font size*/
}

button {
    font-size: 1em; /*Font size*/
}